version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: inkspire-mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27019:27017"

  server:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: inkspire
    restart: always
    ports:
      - "127.0.0.1:3004:3004"
    env_file:
      - ./server/.env
    depends_on:
      - mongo

volumes:
  mongo-data:
